<h4>
  <span class="bg-secondary">商品登録</span>
</h4>

<%= form_with model: @item do |f| %>
<div class="container">
  <div class="row">
    <div class="mx-auto col-8">
        <table>
          <tr>
            <th>商品画像</th>
            <td></td>
          </tr>
          <tr>
            <th>商品名</th>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <th>商品説明</th>
            <td><%= f.text_area :introduction %></td>
          </tr>
          <tr>
            <th>税抜価格</th>
            <td><%= f.text_field :price %></td>
          </tr>
        </table>
<%= f.submit "新規登録", class: "mx-auto d-block btn btn-success" %>

<% end %>

    </div>
  </div>
</div>