<h4>
  <span class="bg-secondary">注文履歴詳細</span>
</h4>

<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <table cellpadding="15">
        <tr>
          <th>購入者</th>
          <td><%= link_to @order.name, admin_order_path(@order.id) %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            〒<%= @order.postal_code %>
            <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-7 mt-5">
      <table class="table">

        <thead>
          <th class="border bordered bg-secondary">商品名</th>
          <th class="border bordered bg-secondary">単価(税込)</th>
          <th class="border bordered bg-secondary">数量</th>
          <th class="border bordered bg-secondary">小計</th>
        </thead>
        <% @order.order_details.each do |order_detail| %>
        <tbody>
          <td class="border bordered"><%= order_detail.item.name %></td>
          <td class="border bordered"><%= order_detail.item.with_tax_price %></td>
          <td class="border bordered"><%= order_detail.amount %></td>
          <td class="border bordered"><%= order_detail.subtotal %></td>
        </tbody>
        <% end %>
      </table>
    </div>

    <div class="col-5 mt-5">
      <table class="table">
        <tr>
          <th class="border bordered">商品合計</th>
          <td class="border bordered">
            <% @order.order_details.each do |order_detail| %>
              <% @total = order_detail.subtotal + @total %>
            <% end %>
            <%= @total %>円
          </td>
        </tr>
        <tr>
          <th class="border bordered">送料</th>
          <td class="border bordered"><%= @order.shipping_fee %>円</td>
        </tr>
        <tr>
          <th class="border bordered">請求合計金額</th>
          <td class="border bordered">
            <% @total_price = @total + @order.shipping_fee %>
            <%= @total_price %>円
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>