<h4>
  <span class="bg-secondary">注文情報入力</span>
</h4>

<%= form_with model: @order do |f| %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>
        <span class="font-weight-bold">支払い方法</span>
      </h5>
        <div class="ml-3">
          <%= f.radio_button :payment_method, "credit_card" %>
          <%= f.label :payment_method_credit_card, "クレジットカード" %><br>
          <%= f.radio_button :payment_method, "transfar" %>
          <%= f.label :payment_method_transfer, "銀行振込" %>
        </div>

      <h5>
        <span class="font-weight-bold">お届け先</span>
      </h5>

<% end %>
    </div>
  </div>
</div>
