<h4>
  <span class="bg-secondary">注文情報入力</span>
</h4>

<%= form_with model: @order do |f| %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>
        <span class="font-weight-bold">支払い方法</span>
      </h5>

      <div class="ml-3">
        <%= f.radio_button :payment_method, "credit_card" %>
        <%= f.label :payment_method_credit_card, "クレジットカード" %><br>
        <%= f.radio_button :payment_method, "transfar" %>
        <%= f.label :payment_method_transfer, "銀行振込" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h5>
        <span class="font-weight-bold">お届け先</span>
      </h5>

      <div class="ml-3">
        <%= f.radio_button :adress, checked: "checked" %>
          <%= f.label :adress, "ご自身の住所" %><br>

        〒<%= current_customer.postal_code %>
        <%= current_customer.address %><br>
        <%= current_customer.full_name %>
      </div>
    </div>
  </div>

<% end %>

  <div class="row">
    <div class="col-4 mx-auto">
      <%= link_to "確認画面へ進む",  orders_confirm_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
