<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/3405b10951.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if customer_signed_in? %>
    <%= link_to "マイページ", public_cutomers_show_path %>

    <%= link_to "商品一覧", public_items_index_path %>

    <%= link_to "カート",  public_cart_items_index_path %>

    <!--link_to "ログアウト-->

    <% else %>

    <%= link_to "About", public_about_path %>

    <%= link_to "商品一覧",  public_items_index_path %>

    <%= link_to "新規登録",  public_customers_sign_up_path %>

    <%= link_to "ログイン", new_customer_session_path %>

    <% end %>

    <%= yield %>
  </body>
</html>
